

nav > ul > li{
    display: inline;
    margin-right: 50px;
}
 nav > ul > li > a{
    text-decoration: none;
}
div{
    color: brown;
    background-color: antiquewhite;
    padding: 20px;
    margin: 30px;
    text-align: center;
}
h3{
    text-decoration: underline green;
    font-size: large;
}
.first div{
    color: chocolate;
    background-color: beige;
    font-size: large;
    padding: 20px;
    margin: 40px;
    border: 5px solid green;
    border-radius: 5px;
}
img{
    width: 200px;
    border: 5px solid tomato;
}
footer{
    text-align: center;
}